.map-modal {
    .modal {
        .modal-dialog {
            max-width: 420px;

            .modal-content {
                background-color: $gray-200;
                border-radius: 12px;

                .modal-header {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                .modal-title {
                    font-size: 26px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }

                .modal-subtitle {
                    font-size: 12px;
                }

                .modal-body {

                    .nav-link {

                        img {
                            width: 36px;
                            height: 100%;
                            margin-right: 4px;
                        }

                    }
                }
            }
        }
    }
}