nav.navbar {
    // max-width: 443.93px;
    width: 100%;
    margin: auto;
    background-color: #697178;
    box-shadow: 0px 4px 20px 2px #3a3a3a;
    height: 55px;
    color: #fff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    @include media-breakpoint-up(lg) {
        // max-width: 100%;
        max-width: 443.93px;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
        font-size: 12px;


        img {
            width: 24px;
            height: 100%;
            margin: auto;
        }
    }
}