.rsvp-modal {
    .modal {
        top: -60px;
        .modal-dialog {
            max-width: 420px;

            .modal-content {
                background-color: $gray-200;
                border: 3px solid #d6bb71;
                padding: 10px 20px;
                color: #000;
                border-radius: 30px;
                .modal-header {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                .modal-title {
                    font-size: 26px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
                .modal-subtitle {
                    font-size: 14px;
                }

                form {
                    legend, label {
                        font-size: 14px;
                    }
                    .button-wrapper {
                        float: right;
                    }

                }
            }
        }
    }
}