.wish-container {
    .modal-content {
        border: 3px solid #d6bb71;
        padding: 10px 20px;
        color: #000;
        background-color: $gray-200;
        border-radius: 30px;
        max-width: 420px;
        margin: auto;

        @include media-breakpoint-down(sm) {
            max-width: 95%;
        }
    }

    .modal-subtitle {
        font-size: 14px;
    }

    form {
        label {
            font-size: 14px;
        }
    }
}

.wish-card {
    background-color: #fff;
    border: 2px solid $primary;
    border-radius: 12px;
    font-family: $headings-font-family;

    .title-message {
        font-size: 18px;
        line-height: 22px;
        padding: 0 18px;
        font-weight: 500;
        font-style: italic;
    }

    .inital-sender {
        font-family: $display-dancingScript;
    }

    .icon-quote {
        position: absolute;
        top: -14px;
        left: -5px;
        width: 10%;
        height: auto;
        opacity: 0.1;

        &.close {
            position: relative;
            top: -22px;
            left: -8px;
            transform: rotate(180deg);
        }
    }
}

.swiper-3d .swiper-slide-shadow {
    background: none !important;
}