<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:url" content="https://" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Walimatul Urus Nathrah & Uthman" />
    <meta property="og:description" content="Kad Jemputan Digital Walimatul Urus Nathrah & Uthman" />
    <meta property="og:image" content="" />
    <title>Kad Jemputan Digital Walimatul Urus Nathrah & Uthman</title>
    <!-- <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  </head>
  <body>
    <header>
      {% if showNav %}
        {# {% include "../components/game-navbar.twig" %} #}
        {% include '../components/nav-menu.twig' %}
      {% endif %}
    </header>
    {% if homepage %}
      <main class="homepage">
        {% block main %}
        {% endblock %}
      </main>
    {% endif %}
    {% if notHomepage %}
      <main>
        {% block main %}
        {% endblock %}
      </main>
    {% endif %}
    {# <footer>
										        {% include "../components/footer.twig" %}
										    </footer> #}
    {% block extras %}
    {% endblock %}

	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  </body>
</html>
