<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Sunlife Game Dev</title>
	</head>
	<body>
		{% block main %}

			{# <div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="w-75 wish-card mx-auto p-3 mb-3 ">
							<img src="assets/img/message-love.png" alt="wish-image" class="w-35 mx-auto">
							<div class="position-relative">
								<img class="icon-quote" src="assets/img/quote_icon.png" alt="open-quote">
								<p class="title-message mt-3 mb-1 text-center" v-text="item.message"></p>
								<img class="icon-quote close" src="assets/img/quote_icon.png" alt="open-quote">
							</div>
							<p class="inital-sender mt-3 mb-0 text-right" v-text="item.name"></p>
						</div>
					</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div> #}
			</div>

		{% endblock %}
		{% block extras %}{% endblock %}
	</body>
</html>
