<div>
	<ul class="nav nav-pills mt-4">
		<li class="nav-item">
			<a id="bride-side" class="nav-link active" aria-current="page" data-toggle="tab" href="#tab-15" aria-expanded="true">
				<div class="img-wrapper">
					<img src="assets/img/bride.png" alt="">
				</div>
				Jemputan </br>Pihak Perempuan
			</a>
		</li>
		<li class="nav-item">
			<a id="groom-side" class="nav-link" aria-current="page" data-toggle="tab" href="#tab-16" aria-expanded="true">
				<div class="img-wrapper">
					<img src="assets/img/groom.png" alt="">
				</div>
				Jemputan </br>Pihak Lelaki
			</a>
		</li>
	</ul>
	<div class="panel-body">
		<div class="tab-content">
			<div id="tab-15" class="tab-pane active">
                <div class="body-tab">
                    <p class="heading-title">Jefri Bin Mohas </br>& </br>Azlina Binti Othman<p>
                    <p>Sejambak bunga kami hulurkan,</br>Semekar senyuman seikhlas hati.</br>
                    </br> Dengan penuh kesyukuran, kami mengundang
                    </br><bold>Dato’ / Datin / Tuan / Puan / Encik / Cik </bold>
                    </br>ke majlis perkahwinan puteri kami dengan pasangannya</p>
                </div>
            </div>
			<div id="tab-16" class="tab-pane">
				 <div class="body-tab">
                    <p class="heading-title">Ariffin Bin Abdul Manaf </br>& </br>Rohani Binti Yusof<p>
                    <p>Sejambak bunga kami hulurkan,</br>Semekar senyuman seikhlas hati.</br>
                    </br> Dengan penuh kesyukuran, kami mengundang
                    </br><bold>Dato’ / Datin / Tuan / Puan / Encik / Cik </bold>
                    </br>ke majlis perkahwinan putera kami dengan pasangannya</p>
                </div>
			</div>

		</div>
	</div>
</div>
