<!-- Modal -->

<div class="myModal contact-modal">
	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <div>
    					<h5 class="modal-title" id="longTitle">Hubungi Kami</h5>
                        {# <p class="modal-subtitle mb-0">Sahkan kehadiran anda.</p> #}
                    </div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<a class="nav-link" target="_blank" href="tel:+60122595501">
						<img src="assets/img/call.png" alt="call">
						Encik Jefri (Bapa Pengantin Perempuan)
					</a>
					<a class="nav-link" target="_blank"  href="tel:+60172449361">
						<img src="assets/img/call.png" alt="call">
						Puan Azlina (Ibu Pengantin Perempuan)
					</a>
					<a class="nav-link" target="_blank" href="tel:+60192692531">
						<img src="assets/img/call.png" alt="call">
						Encik Ariffin (Bapa Pengantin Lelaki)
					</a>
					<a class="nav-link" target="_blank" href="tel:+60192776365">
						<img src="assets/img/call.png" alt="call">
						Puan Rohani  (Ibu Pengantin Lelaki)
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
