<div class="mb-3">
  <div>
    <h5 class="mb-2 text text-center text-primary font-weight-bold">KIRAAN DETIK </br> HARI PERSANDINGAN</h5>
  </div>
  <div class="countdown-container w-75 mx-auto py-2 px-3 mb-3 d-flex justify-content-center text-center">
    <div class="timer px-3">
      <h5 class="pt-2 mb-1" id="day">00</h5>
      <p class="mb-1">Hari</p>
    </div>
    <div class="timer px-3">
      <h5 class="pt-2 mb-1" id="hour">00</h5>
      <p class="mb-1">Jam</p>
    </div>
    <div class="timer px-3">
      <h5 class="pt-2 mb-1" id="minute">00</h5>
      <p class="mb-1">Minit</p>
    </div>
    <div class="timer px-3">
      <h5 class="pt-2 mb-1" id="second">00</h5>
      <p class="mb-1">Saat</p>
    </div>
  </div>
</div>
