<div class="details-section">
    <div class="details-bg">
		<img src="assets/img/bg-1.png" alt="details-bg">

		<div class="overlay1">
			{# <h2 class="subheader-greeting">SALAM SEJAHTERA</h2> #}
			{# {% include "./bride-groom-tab.twig" %} #}
			{% include "./wish-form.twig"%}
			
		</div>

	</div>
</div>