<div class="details-section">
	<div class="details-bg">
		<img id="detailBg" src="assets/img/bg-1.png" alt="details-bg">

		<div class="overlay1">
			{# <h2 class="subheader-greeting">SALAM SEJAHTERA</h2> #}
			{# {% include "./bride-groom-tab.twig" %} #}
			{# {% include "./wish-form.twig"%} #}
			<h4 class="mb-5 text text-center text-primary">Kad Ucapan </br>Nathrah & Uthman
			</h4>
			{% include "./wish-card.twig" %}
			<div class="button-wrapper mt-5 text-center">
				<button type="submit" data-toggle="modal" data-target="#wishModal"  data-backdrop="static" class="btn btn-primary variant-large">Hantar Ucapan Anda</button>
			</div>

		</div>

	</div>
</div>
