<div class="details-section">
	<div class="details-bg">
		<img id="detailBg" src="assets/img/bg-1.png" alt="details-bg">

		<div class="overlay1">
			{# <h2 class="subheader-greeting">SALAM SEJAHTERA</h2> #}
			{# {% include "./bride-groom-tab.twig" %} #}
			{# {% include "./wish-form.twig"%} #}<h5 class="mb-4 text text-center text-primary"> Ucapan Kepada Nathrah & Uthman
			</h5>
			{% include "./wish-card.twig" %}

		</div>

	</div>
</div>
