<div class="hero-section">
	<div class="hero-poster-bg">
		<img src="assets/img/main-poster-v3.png" alt="hero-poster">

		{# <div class="overlay1">
			<h2 class="subheader">WALIMATUL URUS</h2>
		</div>

		<div class="overlay2">
			<h2 class="">28</h2>
		</div> #}

	</div>
</div>
