<!-- Modal -->

<div class="map-modal">
	<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
                    <div>
    					<h5 class="modal-title" id="longTitle">Peta Lokasi</h5>
                        {# <p class="modal-subtitle mb-0">Sahkan kehadiran anda.</p> #}
                    </div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<a class="nav-link" target="_blank"  href="https://www.waze.com/live-map/directions/my/selangor/rawang/bukit-beruntung-golf-and-country-resort-berhad?navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location%5C&to=place.ChIJPSdSY1lCzDERjUcVHoPn4Ko">
						<img src="assets/img/waze.png" alt="waze">
						Buka melalui applikasi Waze
					</a>
					<a class="nav-link" target="_blank" href="https://goo.gl/maps/n45CXp1bBnmcEpcYA">
						<img src="assets/img/gmaps.png" alt="gmaps">
						Buka melalui applikasi Google Maps
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
