<nav class="navbar fixed-bottom">
    <div class="d-flex justify-content-around w-100">
        
        <a class="navbar-brand mx-3" type="button"  data-toggle="modal" data-target="#mapModal"  data-backdrop="static">
            <img src="assets/img/location.png" alt="location">
            LOKASI
        </a>
        <a class="navbar-brand mx-3" type="button"  data-toggle="modal" data-target="#rsvpModal"  data-backdrop="static">
            <img src="assets/img/rsvp.png" alt="rsvp">
            <span>RSVP</span>
        </a>
         <a class="navbar-brand mx-3" type="button"  data-toggle="modal" data-target="#contactModal"  data-backdrop="static">
            <img src="assets/img/call.png" alt="location">
            TALIAN
        </a>
    </div>
</nav>