<div class="greetings-section">
    <div class="greetings-bg">
		<img src="assets/img/bg-details.png" alt="greetings-bg">

		<div class="overlay1">
			{# <h2 class="subheader-greeting">SALAM SEJAHTERA</h2> #}
			{% include "./bride-groom-tab.twig" %}

			
		</div>

	</div>
</div>