<div class="standard-section">
  <div class="standard-bg">
    <img src="assets/img/bg-1.png" alt="plain-bg" />

    <div class="overlay1">
      {# <h2 class="subheader-greeting">SALAM SEJAHTERA</h2> #}
      
      {% include './countdown.twig' %}
      {% include './timeline.twig' %}

    </div>
  </div>
</div>
