<div id="wishCard" class="swiper swiper-container carousel-card px-4" v-cloak>
	<div id="" class="swiper-wrapper">
		<div class="swiper-slide" v-for="item in items">
			<div class="w-75 wish-card mx-auto p-3 mb-3 ">
				<img src="assets/img/message-love.png" alt="wish-image" class="w-35 mx-auto d-block">
				<div class="position-relative">
					<img class="icon-quote" src="assets/img/quote_icon.png" alt="open-quote">
					<p class="title-message mt-3 mb-1 text-center" v-text="item.message"></p>
					<img class="icon-quote close" src="assets/img/quote_icon.png" alt="open-quote">
				</div>
				<p class="inital-sender mt-3 mb-0 text-right" v-text="item.name"></p>
			</div>
		</div>
	</div>

</div>
