<div class="wish-section">
	<div class="wish-bg">
		<img id="wishBg" src="assets/img/bg-1.png" alt="wish-bg">

		<div class="overlay1">
			{# <h2 class="subheader-greeting">SALAM SEJAHTERA</h2> #}
			{# {% include "./bride-groom-tab.twig" %} #}
			{# {% include "./wish-form.twig"%} #}
			<h4 class="mb-5 text text-center text-primary font-weight-bold">KAD UCAPAN </br>NATHRAH & UTHMAN
			</h4>
			{% include "./wish-card.twig" %}
			<div class="button-wrapper mt-3 text-center">
				<button type="submit" data-toggle="modal" data-target="#wishModal"  data-backdrop="static" class="btn btn-primary variant-large">Tulis Ucapan Anda</button>
			</div>

			{% include "./footer.twig" %}

		</div>

	</div>
</div>
