{% extends "templates/partials/base.twig" %}

{% set notHomepage = true %}
{% block main %}

	{# {% include "templates/components/carousel-variant-hero.twig" %} #}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<h3 class="mb-3">Senarai kehadiran tetamu.</h3>
			<div id="attendeeList" class="attendee-list mt-3 mx-lg-0 mx-3 table-responsive" v-cloak>
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nama</th>
							<th scope="col">No. Tel</th>
							<th scope="col">Kehadiran</th>
							<th scope="col">Jemputan</th>
							<th scope="col">Timeslot</th>
							<th scope="col">Bil. Pax</th>
							<th scope="col">Data ID</th>
						</tr>
					</thead>
					<tbody class="bg-white">
						<tr v-for="(item, objKey) in items">
							<th scope="row" v-text="objKey + 1"></th>
							<td v-text="item.name"></td>
							<td v-text="item.phoneNumber"></td>
							<td v-text="item.isAttending"></td>
							<td v-text="item.guestType"></td>
							<td v-text="item.timeSlot"></td>
							<td v-text="item.paxCount"></td>
							<td v-text="item._id"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	{% include "templates/components/wish-card.twig" %}


{% endblock %}
