{% extends "templates/partials/base.twig" %}
{% set showNav = true %}

{% set homepage = true %}
{% block main %}


	{# {% include "templates/components/carousel-variant-hero.twig" %} #}


	<div class="container-fluid">
		<div class="row flex-column">
			{% include "templates/components/first-section.twig"%}
			{% include "templates/components/greetings-section.twig"%}
			{% include "templates/components/details-section.twig"%}
			{# Hello World! #}


		</div>
	</div>
	{% include "templates/components/rsvp-modal.twig" %}
	{% include "templates/components/map-modal.twig" %}
	{% include "templates/components/contact-modal.twig" %}
	{% include "templates/components/start-popup.twig" %}

	<audio id="myAudio" autoplay loop>
		<source src="assets/music/music-1.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

{% endblock %}
